#Git ignore, forcing difference to push

VeiligWerken/Library/

VeiligWerken/Temp/

VeiligWerken/.idea/.idea.Factorium/.idea/

VeiligWerken/obj/Debug/

VeiligWerken/Temp/
VeiligWerken/.vs/

VeiligWerken/Assembly-CSharp.csproj

